NODE_ENV=development
PORT=3000
API_PREFIX=api

# Database
DATABASE_URL="mysql://user:password@localhost:3306/nest"

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT
JWT_SECRET=secret
JWT_EXPIRATION=3600s
JWT_REFRESH_SECRET=refresh-secret
JWT_REFRESH_EXPIRATION=7d

